
<html>
  <body style="text-align: center; padding: 4%;">
      
      <u><h2>Login Page</h2></u>
     
      <form action="login/getUserData" method="POST" >
          <div><b>User Name: <input type="text" name="username" </b></div> 
          <div style="padding: 7px; margin-left: -7px;"><b>Password: <input type="text" name="pwd"> </b></div><br/>
          <input type="submit" value="login"> <br/><br/>
      </form>

      <% if(msg != '') { %>
          <div style="color: red;"><%= msg %></div>
      <% } %>

      <br><br><br>

  </body>
</html>