

<html>
        <body style="padding: 4%;">
            
            <u ><h1>Users Management Page</h1></u>
    
            <h3><a href="/menu/usersManagement/addNew/0" >ADD NEW</a></h3>

           
            <ul>
                <% users.forEach(function(user) { %>
                  
                    <li  name="username"><b>Username: </b> <%= user.username %> </li>
                    <a href="/menu/usersManagement/delete/<%= user.id %>" >delete</a> <a href="/menu/usersManagement/update/<%= user.id %>" >update</a> <br><br>
                   
                <% }) %>
            </ul>

        </body>
    </html> 